@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* page 1 start  */
.page-1 {
    background-image: url("../photos/chef.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;


}

.overly {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, rgba(120, 108, 108, 0.5), rgba(31, 29, 29, 0.6))
}

.content {
    background: transparent;
    text-align: center;
    width: 900px;
    height: 700px;
}

.content h1 {
    font-size: 70px;
    margin-bottom: 1px;
    color: whitesmoke;

}

.content p {
    font-size: 25px;
    margin-bottom: 250px;
    color: rgb(226, 233, 240);
}

.button {
    display: flex;
    justify-content: center;
    gap: 170px;


}

.button button {
    padding: 20px;
    border-radius: 20px 50px;
    color: rgb(21, 20, 20);
    font-size: 15px;
    font-weight: 800;

    margin-top: 170px;
    border-bottom: 4px solid rgb(94, 89, 85);
    border-top: 3px solid cornflowerblue;
    /* background-image: url("../photos/high-nick.jpg"); */
}

/* page 1 end */



/* page 2 start */
.page-2 {

    padding: 150px 0;
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
    /* height: 100vh; */
    background-color: transparent;


}

.contenar {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: rgb(205, 227, 227); */
    /* height:100vh; */
    width: 100%;
    gap: 30px;
    /* border: 5px solid rgb(186, 142, 142); */

}

.item-1 {
    background-position: center;
    background-size: cover;



}


.item-2 {
    background-position: center;
    background-size: cover;
}


.item-3 {
    background-position: center;
    background-size: cover;
}

.image-1 {
    height: 283px;
    width: 100%;
    border-radius: 30px;
    background-image: url("../photos/freczfrice\ .jpg");
    background-position: center;
    background-size: cover;

}

.image-2 {
    height: 283px;

    border-radius: 30px;
    background-image: url("../photos/pizza.jpg");
    background-position: center;
    background-size: cover;
}

.image-3 {
    height: 283px;
    width: 100%;

    border-radius: 30px;
    background-image: url("../photos/stabery.jpg");
    background-position: center;
    background-size: cover;
}

.header {
    font-family: "Work Sans", sans-serif;
    margin: 0 auto;
    width: 650px;
    padding: 40px 0;
    text-align: center;

}

.header p {
    font-size: 24px;
    font-weight: 500;
    color: #8b8b8b;
    text-transform: capitalize;
    margin-bottom: 17px;
    text-align: center;

}

.header h2 {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.button-1 {
    display: flex;
    justify-content: center;

}

.button-1 button {
    text-transform: capitalize;
    padding: 21px 32px;
    border-radius: 35px;
    color: rgb(10, 10, 10);
    opacity: 70%;
    font-size: 17px;
    font-weight: 700;
    margin-top: 100px;
    border-bottom: 4px solid rgb(128, 100, 80);
    border-top: 3px solid rgb(104, 122, 157);
    background-color: #52C303;

}

.contenar p {
    font-size: medium;
    text-transform: capitalize;
    color: #101010;
    opacity: 70%;
    line-height: 18px;
    font-weight: 900;
    text-align: center;
}

.contenar h3 {
    text-transform: uppercase;
    font-size: larger;
    font-weight: 700;
    margin: 10px;
    color: #0a0000;
    background-color: #52C303;
    border-radius: 7px;
    opacity: 70%;
    padding: 10px 20px;
    height: 50px;
    width: 202px;
    text-align: center;

}

.contenar h2 {
    font-size: 40;
    text-transform: uppercase;
    margin-top: 7px;
    font-weight: 700;
    color: #101010;
    margin-bottom: 8px;
    text-align: center;
}

.green {
    display: flex;
    justify-content: center;
}

/* page 2 end  */

/*page 3 strat   */
.page-3 { 
   font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: center;
    height: 671px;;
    width: 1920px;
    align-items: center;
    background-color: rgb(229, 221, 211) ;
    margin: 0 AUTO;
}

.banner-3 {
    display: flex;
    height: 671px;
    width: 1920px;
    border: 2px solid black; 

}

.image-4 {
    background-image: url(../photos/beef.avif);
    background-size: cover;
    background-position: center;
    height: 671px;
    width: 960px;

}
.image-40{
    background: linear-gradient(to left ,rgba(0,0,0,0.5),rgb(148, 100, 100,0.3));
    height: 671px;
    width: 960px;
}

.info {
    background-color: rgb(47, 51, 51);
    height: 671px;
    width: 960px;

}

.content-3 {

    margin: 110px 0;
    color: rgb(239, 242, 244);
    text-align: center;
    

}

.content-3 h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 64px;
    margin-bottom: 24px;
}

.content-3 p {
    font-size: 24px;
    font-weight: 500;
    opacity: 60%;
}

.content-3 h3 {
    font-size: 38px;
    font-weight: 800;
    margin-top: 90px;
    opacity: 70%;
}

.icons{
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 29px;
    opacity: 98%;
}
.icon{
    height: 40px;
    width: 40px;
    background-size: cover;
    cursor:pointer;

}

.icon-1 {
    background-image: url(../photos/resturent\ .jpg);
   
}

.icon-2 {
    background-image: url(../photos/facebook-1924510_640.webp);
   
}

.icon-3 {
    background-image: url(../photos/map.png);
    height: 44px;
}

.icon-4 {
    background-image: url(../photos/whatsapp-1623579_640.webp);
   
}

/* page 3 end */



/* page 4 start  */

.page-5{
     min-height: 991px;
    width:100%;
    background-color: #8b8b8b;
    margin: 0 auto ;
}

.body-5{

}
















/* /* page 4 end  */




/* page 5 start */

 .page-4 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 234, 202);

} 

.banner-4 {
    background: linear-gradient(to top, rgba(53, 45, 45, 0.9), rgba(223, 203, 203, 0.9));
    min-height: 671px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.main-banner {
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: center;
    height: 671px;
    width: 1920px;
    align-items: center;
    background-image: url(../photos/food.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content-4 {

    height: 398px;
    width: 830px;
    /* padding: 20px;
    border: 2px solid whitesmoke; */
    font-family: "Work Sans", sans-serif;
}

.content-4 h2 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    line-height: px;

}

.content-4 p {
    font-size: 24px;
    font-weight: medium;
    opacity: 70%;
    text-align: center;
    margin-top: 23px;

}

.content-4 h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-top: 53px;
    margin-bottom: 50px;
}

 /* .page4-icon{
    width: 26px;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 29px;
    opacity:98%;
}
.icon-5{
     background-image: url(../photos/instagram.png);
   
}  */
  /*  page 5 end  */