* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  

}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header {
    height: 120px;
    width: 100%;
    padding: 0 140px;


}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* logo  start */
}

.logo {
    display: flex;
    gap: 7px;
}

.sape {
    height: 20px;
    width: 40px;
    border-radius: 20px 300px 40px 300px;
    border: 3px solid black;
    transition: 0.3s ease;
}

.sape:hover {
    background-color: black;
}

.logo h4 {
    text-transform: capitalize;
    font-size: 23px;
    font-weight: 700;
}

/* logo  end */


/*  left-side start */
.left-side {
    display: flex;
    gap: 17px;
    align-items: center;
}

.contact-us {
    padding: 8px 12px;
    border-radius: 100px;
    background-color: rgb(59, 54, 54);
    color: white;
    font: 900;
    text-transform: capitalize;
}

.contact-us:hover {
    background-color: rgb(92, 86, 86);
}

.left-bar {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.bar {
    height: 3px;
    width: 25px;
    background-color: black;
}

.left-bar:hover {
    background-color: rgb(142, 158, 172);
    padding: 10px;
    border-radius: 150px;
}


/* left-side end  */

/* hero section */
.hero-section {
    padding: 150px 70px;
}

.heading {
    width: 800px;
    height: 300px;
    /* text-align: center; */

}

.heading h1 {
    font-size: 80px;
}

.description {
    width: 800px;
    height: 100px;
    /* border: 3px solid black; */
    font-size: 20px;
}


/* hero section end */





/*  partner section  start  */



.partners-section {
    padding: 0 30px;
    color: white;
}

.partners-section-wrapper {
    background-color: black;
    border-radius: 40px;
    padding: 128px 336px;
}

.partners-section h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}


.partners-continer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.raw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.raw h5{
    font-size: 25px;
}

/* partner card end  */


/* case study start */

.case-study{
  margin:100px 50px 100px 50px ; padding: 0 200px;  

}
.case-study-continer{
padding-right: 50px;
}
.case-study-heading{
    max-width: 672px;
}

.case-study-heading h2{
font-size: 40px;
font-weight:600;
line-height: 48px;
color: #0A0A0A;
}
.case-study-heading p{
   
    font-size: 19.4px;
    line-height: 32px;
    color: #525252;
    margin-top: 16px;
}
.case-study-cards{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-top: 64px;
}
.case-study-card{
padding: 32px;
box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
border-radius: 24px;
box-sizing: border-box;
transition: 0.3s ease;
 }
:hover.case-study-card{ 
     background-color: rgb(182, 187, 192);
}

/* padding-inline: 8px; */
.case-study-card img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 100px;
    margin-bottom: 20px;
}
.time{
font-size: 20px;
font-weight: 600;
display: flex;

gap: 6px;
text-transform: capitalize;
margin-bottom: 16px;
}
.card-continer h2{
text-transform: capitalize;
font-size: 23px;
margin-bottom: 14px;
}
.card-continer p{
    font-size: 18px;
    text-align: justify;
    
}


/* case study end */



/* comment section start */
.comment-box{
display: flex;
justify-content: center;
width: 100%;
margin: 30px 0px 50px 0;
background-color: rgb(240, 239, 238);
box-shadow: 6px 0px 8px 1px rgba(194, 182, 182, 0.9);
/* border-radius: 30px; */

}
.comment-box-continer{
margin: 100px 500px
}
.comment-box-continer h2{
    font-size: 34px;
    text-transform: capitalize;
    margin-bottom: 40px;
    text-align: justify;
}
.comment-box-continer img{
    height: 80px;
    width: 230px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

/* commment section end  */



/* media screen start  */






@media (max-width:768px) {
    .header {
        padding: 0 20px 0 20px;
    }



    .hero-section {
        padding: 200px 0px 0 2px;
    }

    .heading {
        width: 500px;
        height: 170px;
    }

    .heading h1 {
        font-size: 50px;
        line-height: 1;
    }

    .description {
        width: 570px;
    }

    .description p {
        font-size: 15px;
    }

    .partners-section{
        padding: 12px;
        border-radius: 7px;
    }
 .partners-section-wrapper{
    padding:20px 60px 20px 60px;
    margin-top: 40px;
 }
 .partners-continer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 140px;
    margin: 0;
    
    
 }
 .case-study{
    margin: 100px 0px 40px 0px;
   
    padding: 20px;
 }
 .case-study-continer{
    padding: 20px;
 }
 .case-study-heading{
    width: 600px;
    padding-left: 30px;
 }
 .case-study-heading h2{
font-size: 46px;
text-transform: capitalize;
line-height: 1.2;
font-weight: 600;
 }
 .case-study-heading p{
font-size: 17px;
 }
 .continer h4{
    text-align: center;
    font-size: 17px;
 }
 .raw{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
 }
 .raw h5{
    font-size: 16px;
 }

 
 .case-study-cards{
    display: flex;
    flex-direction: column;
 }
  :hover.case-study-card{
    background-color: rgb(182, 187, 192);

 }
 .comment-box{
/* border-radius: 10px; */
margin-top: 120px;
 }
 .comment-box-continer{
margin: 80px 35px 50px 32px;
 }
 .comment-box-continer h2{
font-size: 27px;
 }
 .comment-box-continer img{
height: 50px;
width: 180px;
 }

}

/* media screen end  */