* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;


}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header {
    height: 120px;
    width: 100%;
    padding: 0 140px;


}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* logo  start */
}

.logo {
    display: flex;
    gap: 7px;
}

.sape {
    height: 20px;
    width: 40px;
    border-radius: 20px 300px 40px 300px;
    border: 3px solid black;
    transition: 0.3s ease;
}

.sape:hover {
    background-color: black;
}

.logo h4 {
    text-transform: capitalize;
    font-size: 23px;
    font-weight: 700;
}

/* logo  end */


/*  left-side start */
.left-side {
    display: flex;
    gap: 17px;
    align-items: center;
}

.contact-us {
    padding: 8px 12px;
    border-radius: 100px;
    background-color: rgb(59, 54, 54);
    color: white;
    font: 900;
    text-transform: capitalize;
}

.contact-us:hover {
    background-color: rgb(92, 86, 86);
}

.left-bar {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.bar {
    height: 3px;
    width: 25px;
    background-color: black;
}

.left-bar:hover {
    background-color: rgb(142, 158, 172);
    padding: 10px;
    border-radius: 150px;
}


/* left-side end  */

/* hero section */
.hero-section {
    padding: 150px 70px;
}

.heading {
    width: 800px;
    height: 300px;
    /* text-align: center; */

}

.heading h1 {
    font-size: 80px;
}

.description {
    width: 800px;
    height: 100px;
    /* border: 3px solid black; */
    font-size: 20px;
}


/* hero section end */





/*  partner section  start  */



.partners-section {
    padding: 0 30px;
    color: white;
}

.partners-section-wrapper {
    background-color: black;
    border-radius: 40px;
    padding: 128px 336px;
}

.partners-section h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}


.partners-continer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.raw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.raw h5 {
    font-size: 25px;
}

/* partner card end  */


/* case study start */

.case-study {
    margin: 100px 50px 100px 50px;
    padding: 0 200px;

}

.case-study-continer {
    padding-right: 50px;
}

.case-study-heading {
    max-width: 672px;
}

.case-study-heading h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #0A0A0A;
}

.case-study-heading p {

    font-size: 19.4px;
    line-height: 32px;
    color: #525252;
    margin-top: 16px;
}

.case-study-cards {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-top: 64px;
}

.case-study-card {
    padding: 32px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    box-sizing: border-box;
    transition: 0.3s ease;
}

:hover.case-study-card {
    background-color: rgb(182, 187, 192);
}

/* padding-inline: 8px; */
.case-study-card img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 100px;
    margin-bottom: 20px;
}

.time {
    font-size: 20px;
    font-weight: 600;
    display: flex;

    gap: 6px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.card-continer h2 {
    text-transform: capitalize;
    font-size: 23px;
    margin-bottom: 14px;
}

.card-continer p {
    font-size: 18px;
    text-align: justify;

}


/* case study end */



/* comment section start */
.comment-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0px 50px 0;
    background-color: rgb(240, 239, 238);
    box-shadow: 6px 0px 8px 1px rgba(194, 182, 182, 0.9);
    /* border-radius: 30px; */

}

.comment-box-continer {
    margin: 100px 500px
}

.comment-box-continer h2 {
    font-size: 34px;
    text-transform: capitalize;
    margin-bottom: 40px;
    text-align: justify;
}

.comment-box-continer img {
    height: 80px;
    width: 230px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

/* commment section end  */




/* service section start  */
.service {
    width: 100%;
    /* padding: 400px 0px; */

}

.service-wrapper {
    padding: 160px 312px
        /* margin: 100px; */
}

.service-header {
    max-width: 600px;
    margin-left: 40px;
    margin-top: 100px;

}

.service-header h3 {
    font-size: 20px;
    margin-bottom: 25px;
}

.service-header h2 {
    font-size: 36px;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 30px;

}

.service-header p {
    font-size: 17px;
    color: #333131;
    font-weight: 400;
    margin-bottom: 100px;
}

.service-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    margin: 0 auto;
}

.service-img img {
    height: 600px;
    width: 700px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

.service-center-text {
    display: flex;
    max-width: 550px;
    flex-direction: column;
    gap: 40px;
    margin-top: 2px;
}

.services {
    display: flex;
    gap: 0px;
}

.services span {
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
    text-transform: capitalize;
}

.services p {
    font-size: 16px;
}

.ber {
    display: flex;
    gap: 19px;
}

.ber-small {
    height: 2px;
    width: 40px;
    background-color: #131313;
}

.ber-big {
    height: 1px;
    width: 100%;
    background-color: #c5baba;
}






/* service section end  */




/* media screen start  */



@media (max-width:1280px) {

    .partners-section-wrapper {
        padding: 100px 90px;
    }

    .partners-continer {
        gap: 30px;

    }

    .continer {
        gap: 0px;
    }

    .case-study {
        padding: 10px;
    }

    .comment-box-continer {
        margin: 300px 200px 300px 70px;
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }


    .service-wrapper {
        padding: 50px 60px;
    }

    .service-img img {
        height: 520px;
        width: 520px;
    }

    .service-center-text {
        max-width: 500px;
        /* max-height:400px ; */
        gap: 40px;
    }

    .services span {
        font-size: 15px;
    }

    .services p {
        font-size: 14px;
    }



}



@media (max-width:992px) {
    .partners-section {
        padding: 10px;

    }

    .partners-continer {
        margin: 10px 10px 0 10px;

    }

    .continer h4 {
        padding: 0px;
        margin-left: 25px;
    }

    .partners-section-wrapper {
        padding: 40px;

    }

    .partners-continer {
        gap: 80px;
        padding: 20px;
    }

    .comment-box-continer {
        margin: 100px;
    }

    .case-study-heading h2 {
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        color: #333131;

    }

    .case-study-heading p {
        font-size: 20px;
        max-width: 550px;
        text-align: left;
    }

    .case-study {
        margin: 0px;
        padding: 30px;
    }

    .case-study-cards {
        display: flex;
        /* flex-wrap:wrap; */
    }

    .case-study-continer {
        padding: 0px;
    }

    .case-study-card {
        padding: 17px;
    }

    .case-study-card img {
        margin: 9px;
    }

    .time p {
        font-size: 16px;
        color: #525252;
    }

    .case-study-card span {
        font-size: 19px;
        color: #5e3a3a;

    }

    .card-continer h2 {
        font-size: 17px;
        text-transform: uppercase;
        color: #333131;
    }

    .card-continer p {
        font-size: 14px;
        font-weight: 400;
    }

    .service-wrapper {
        margin: 0px;
        padding: 0px;
    }

}




@media (max-width:768px) {
    .header {
        padding: 0 20px 0 20px;
    }



    .hero-section {
        padding: 200px 0px 0 2px;
    }

    .heading {
        width: 500px;
        height: 170px;
    }

    .heading h1 {
        font-size: 50px;
        line-height: 1;
    }

    .description {
        width: 570px;
    }

    .description p {
        font-size: 15px;
    }

    .partners-section {
        padding: 12px;
        border-radius: 7px;
    }

    .partners-section-wrapper {
        padding: 90px 40px 90px 40px;
        margin-top: 40px;
    }

    .partners-continer {
        display: grid;
        grid-template-columns: repeat(4, 40px);

        /* flex-direction: row; */

        gap: 200px;

        margin-left: 100px;

    }

    .continer h4 {
        margin: 0px;
    }

    .raw {
        display: grid;
        /* flex-direction: column; */
        gap: 20px;
        /* margin-top: 20px; */
    }

    .raw h4 {
        font-size: 20px;
        text-align: left;
    }

    .case-study {
        margin: 100px 0px 40px 0px;

        padding: 20px;
    }

    .case-study-continer {
        padding: 20px;
    }

    .case-study-heading {
        width: 600px;
        padding-left: 30px;
    }

    .case-study-heading h2 {
        font-size: 46px;
        text-transform: capitalize;
        line-height: 1.2;
        font-weight: 600;
    }

    .case-study-heading p {
        font-size: 17px;
    }

    .continer h4 {
        text-align: center;
        font-size: 17px;
    }



    .case-study-cards {
        display: flex;
        flex-direction: column;
    }

    :hover.case-study-card {
        background-color: rgb(182, 187, 192);

    }

    .comment-box {
        /* border-radius: 10px; */
        margin-top: 120px;
    }

    .comment-box-continer {
        margin: 80px 35px 50px 32px;
    }

    .comment-box-continer h2 {
        font-size: 27px;
    }

    .comment-box-continer img {
        height: 50px;
        width: 180px;
    }


    .service-header h3 {
        font-size: 17px;
        margin-bottom: 18px;
    }

    .service-header h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .service-header p {
        font-size: 14px;
        max-width: 520px;
    }

    .service-center {
        display: flex;
        flex-direction: column;
    }

    .service-img img {
        height: 700px;
        width: 700px;
        border-radius: 2300px;
        box-shadow: 9px 9px 9px 9px rgba(17, 16, 15, 0.2);
    }

    .service-center-text {
        width: 100%;
        gap: 20px;
        max-width: 680px;
        margin-bottom: 80px;
    }

    .services span {
        font-size: 18px;
    }

    .services p {
        font-size: 14px;
    }
}



@media (max-width:576px) {
    .navbar {
        padding: 20px;
    }

    .logo h4 {
        font-size: 20px;
        font-weight: 800;
        text-transform: capitalize;
        margin-bottom: 9px;
    }

    .sape {
        height: 20px;
        width: 37px;
    }

    .contact-us {
        display: none;
    }

    .heading {
        padding: 0px 0px 0px 30px;
        height: 120px;
    }

    .heading h1 {
        font-size: 35px;

    }

    .description {
        max-width: 440px;
        padding-left: 30px;
    }

    .description p {
        font-size: 13px;
    }

    .partners-section-wrapper {
        padding: 0px;
    }

    .partners-continer {
        margin: 0px;
        gap: 170px;
        margin-left: 83px;
        padding: 9px 0px 60px 0px;

    }

    .case-study {
        padding: 0px;
    }

    .case-study-continer {
        padding: 0px;
    }

    .continer h4 {
        /* margin-top: 30px; */
        padding-top: 40px;
        font-size: 16px;

    }

    .partners-logo h5 {
        font-size: 19px;
    }

    .case-study-heading {
        max-width: 400px;
        ;
    }

    .case-study-heading h2 {
        font-size: 30px;
    }

    .case-study-heading p {
        font-size: 14px;
        line-height: 1.4;
    }

    .case-study-cards {
        padding: 0px 17px;
    }

    .case-study-card {
        padding: 20px 10px;
    }

    .case-study-card img {
        height: 50px;
        width: 50px;
    }

    .comment-box-continer {
        margin: 20px 0px;
    }

    .comment-box-continer h2 {
        font-size: 20px;
    }

    .service-header {
        margin: 90px 0px 0px 20px;
    }

    .service-img img {
        height: 400px;
        width: 400px;
    }

    .service-center-text {
        padding: 30px 20px;
        box-shadow: 9px 9px 9px 9px rgba(17, 16, 15, 0.2);
        border-radius: 30px;
        margin: 0px 200px;
    }


}

@media (max-width:420px) {

.navbar {
    margin: 0 auto;
}

.heading {
    max-width: 460px;
    padding: 14px;
}

.description {
    padding: 14px;
    max-width: 420px;
}


.partners-continer {
    /* margin: 0 auto; */
    gap: 120px;
    justify-content: space-between;
    margin-left: 70px;
}




.service-center-text {
    margin: 0px;
}


}




























}

/* media screen end  */